
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.App {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
}
.mobileWindow {
        border-radius: 16px;
        width: 320px;
        height: 568px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
       padding: 10px;     
       background-image: url("./elements/background.png");
       background-position: top;
  }


  .text {
    background-color: #A40d91;
    width: 90%;
    height: 90%;
    position: fixed;
    text-align: center;
    margin: 20px;
   }
  .spellWindow {
    background-color: rgb(56, 238, 10);
    border-radius: 16px;
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
  }
  .boardWindow {
    background-color: rgb(117, 72, 3);
    border-radius: 16px;
    width:auto;
    height: 45%;
    display: grid;
    grid-template-rows: 50% 50% ;
    grid-template-columns: 25% 25% 25% 25%;
   grid-template-areas:
   "spellPlay aiPlay1 aiPlay2 aiPlay3"
   "spellPlay plPlay1 plPlay2 plPlay3";    
  }
  .spellPlay {
    height: 81px;
    width: 45px;
    justify-self: center;
    grid-area: spellPlay;
    margin: 50% 10% 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .aiPlay1 {
       height: 81px;
    width: 45px;
    justify-self: center;
    grid-area: aiPlay1;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .aiPlay2 {
    height: 81px;
    width: 45px;
    justify-self: center;
    grid-area: aiPlay2;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .aiPlay3 {
       height: 81px;
    width: 45px;
    justify-self: center;
    grid-area: aiPlay3;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .plPlay1 {
    height: 81px;
    width: 45px;
    justify-self: center;
    grid-area: plPlay1;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .plPlay2 {
       height: 81px;
    width: 45px;
    justify-self: center;
    grid-area: plPlay2;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .plPlay3 {
       height: 81px;
    width: 45px;
    justify-self: center;
    grid-area: plPlay3;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .cardBoard {
    border-radius: 5px;
    border-style: double;
  }
  .cardBoard h3 {
    text-align: center;
    }
  .cardBoard img {
    width: 37px;
    height: auto;
    align-self: center;
  }
  .playerHand {
    background-color: rgb(238, 10, 189);
    border-radius: 16px;
    width: auto;
    height: 20%;
    display: flex;
    flex-direction: row;   
    margin-top: 1%;
    justify-content: center;
  }
  .card {
    height: 81px;
    width: 45px;
    justify-self: center;
    border-radius: 5px;
    border-style: double;
    margin:1% 1% 1% 3%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
   .card img {
    width: 37px;
    height: auto;
    align-self: center;
  }
  .Mana {
    background-color: #A40d91;}
  .Fire {
    background-color: #A40d0d;
  }
  .Ice {
    background-color: #0d97a4;
  }
  .Earth {
    background-color: #A4670d;
  }
  .Back {
    background-color: #9f91a6;
    color: #9f91a6;
    border: 3px double black;
  }
  .spell{
    background-color: #1da40d;

  }
